@model backend.Models.ResetPasswordErrorModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Error</title>

    <style>
        .hidden-p {
            display: none;
        }
        .visible-p {
            display: block;
            font-size: 18px;
        }

        a { text-decoration: underline; cursor: pointer; }
        a:hover { color: blue; }

        p:first-of-type { margin-bottom: 5px; color: tomato; }
        ul { margin-top: 5px; }
    </style>
</head>

<body>
    <h1>Reset Password Failed</h1>

    <p class="visible-p"> @Model.ErrorMessage </p>

    <ul class=@(@Model.FormError?"visible-p":"hidden-p")>
        @foreach (var error in @Model.FormErrors)
        {
            <li> @error </li>
        }
    </ul>

    <p class=@(@Model.FormError?"visible-p":"hidden-p")>
        Please <a onclick="location.href='@Url.Action("ResetPassword", "Authentication", new { email=@Model.Email, token=@Model.Token, expirationTime=@Model.ExpirationTime })'">try again</a>.
    </p>
</body>

</html>